
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 200px;
    background-color:transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
    flex: 1;
    padding: 20px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-info {
    flex: 1;
    padding: 20px 0px;
    background-color:transparent;
    text-align: center;
}

.contact-info h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-info a {
    text-decoration: none;
    color: #0074D9;
}

.contact-info a:hover {
    text-decoration: underline;
}
/* CSS for styling icons */
.contact-info i {
    color: white; /* Change the color as needed */
    font-size: 20px; /* Change the size as needed */
    margin-right: 5px; /* Add some space between the icon and text */
}


@media screen and (max-width: 786px) {
    .contact {
        margin-top: 100px; /* Adjust the margin-top as needed */
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        font-size: 14px; /* Reduce font size for smaller screens */
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        padding: 20px;
        margin-top: 200px;
        background-color:transparent;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

}