*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;

}

.logo{
    font-size: 30px;
    font-weight:700;
    color: white;
}
.navlist{
    display:flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15 px;
    font-size: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    font-size: 18px ;
}
#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.details{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8rem;
}

section{
    display: flex;
}
.details-text{
    margin-left: 200px;
}
.details-text h1{
    font-family:'Segoe UI' , cursive;
    font-size: 50px;
    line-height: 1;
    color: white;
    margin: 0 0 10px;
}
.details-text span{
  color:#F9A03F ;
}
.details-text h4{
    font-size: 20px;
    font-weight: 600;
    color: cyan;   
}
.details-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.me-img img{
    width: 600px;
    height: auto;
    margin-top: 135px;
}

.bn13 {
    display: inline-block;
    padding: 0.65em 1.6em;
    border: 3px solid #ffffff;
    background-color: transparent;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    color:white;
    text-align: center;
    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
    position: relative;
  }
  
  .bn13:hover {
    background-color: cyan;
    color:black;
  }
  
  @keyframes bn13bouncy {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24 px;
    color: white;
    transform: all .50s ease;
}
.icons i:hover{
    transform: translateY(-5px);
}
@media screen and (max-width: 768px) {
  header {
      padding: 20px 5%;
  }

  .navlist {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 100%;
      right: 0;
      width: 20px;
      height: 20vh;
      background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(22, 77, 82) 91.1%);
      width: 200px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      z-index: 1001;
      padding: 4% 0 4%;
      border-radius: 10px;
  }

  .navlist.active {
      display: flex;
  }

  .navlist a {
      margin-left: 20px;
      margin-bottom: 10px;
      margin-top: 10%;
   
  }

  #menu-icon {
      display: block;
  }

  .details { 
      grid-template-columns: 1fr;
      text-align: center;
      padding: 100px 5%;
  }

  .details-text {
      margin-left: 0;
      text-align: center;
  }

  .me-img img {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin-top: 30px;
  }
  .icons{
    display: none;
  }
  .details-text h1{
    font-size: 40px;
  }
  .details-text h4{
    font-size: 15px;
  }

.navlist a:hover {
  color: cyan; /* Change color on hover */
  border-bottom: 2px solid cyan; /* Add a border on hover */
  }

}
